[submodule "Patches/DivestOS_Wallpapers"]
	path = Patches/Wallpapers
	url = https://code.binbash.rocks:8443/AXP.OS/wallpapers.git
[submodule "Patches/Linux"]
	path = Patches/Linux
	url = https://gitlab.com/divested-mobile/kernel_patches.git
[submodule "PrebuiltApps"]
	path = PrebuiltApps
	url = https://code.binbash.rocks:8443/AXP.OS/legacy_prebuilt_apps.git
